<!DOCTYPE html>
{strip}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<title>{$SYSTEM_NAME}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
	</head>
	<body>
		<h1 class="ml-1">
			<a href="http://{$smarty.server.HTTP_HOST}" class="link-primary text-decoration-none" data-toggle="tooltip" data-placement="right" title="Home">{$SYSTEM_NAME}</a>
		</h1>

		<div class="container text-center">

			<div class="row g-0 bg-light position-relative">
				<div class="col-md-6 mb-md-0 p-md-4">
					<img src="screenshot.png" width="100%" />
				</div>
				<div class="col-md-6 p-4 pl-md-0">
				  <h5 class="mt-2">Olá, seja bem vindo!</h5>
				  <p class="pt-2">Clique neste card ou no botão para testar a rota test.</p>
				  <a href="{$urlCurrentURL}test" class="btn btn-primary stretched-link">{$urlCurrentURL}test</a>
				</div>
			  </div>			
		</div>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
		<script>
			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
				return new bootstrap.Tooltip(tooltipTriggerEl)
			})
		</script>
	</body>
</html>
{/strip}